@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p class="well">Use this area to provide additional information.</p>


<div class="panel panel-primary">
      <div class="panel-body">
            Here .. about the company
      </div>
      <div class="panel-footer">
            Panel footer
        </div>
</div>

